@CHARSET "UTF-8";

.result{
	margin-bottom:10px;
	font-size:10pt;
}

.result h2{
	text-decoration:bold;
	font-size:14pt;	
}

.result h3{
	text-decoration:bold;	
	font-size:10pt;	
}


.result-attributes{
	padding-left:10px;
	word-wrap: break-word;
}

.result-attributes .result-more{
	color:#0088cc;
}
.result-attributes a{
	color:#000;
}

.result-attribute{
	
}

.result-footer{
	padding-top:5px;
	font-size:8pt;	
}



