@main("Names prototype") {
   <div class="hero-unit">
	  <p>The Names Project is working to uniquely identify individuals and
		institutions involved in research in the United Kingdom. Our aim is to make
		it easier to link individuals with the results of their research.
		</p>
		<p>
		The pilot Names system currently identifies over 40,000 of the UK's top
		researchers. We are working with universities and other research
		institutions to increase the number of individuals who have a Names
		identifier.
		</p>
		<p>
		The Names Project is funded by <a href="http://www.jisc.ac.uk" target = "new">JISC</a> as part of the Information Environment
		Programme's Shared Infrastructure Services Strand. It is a collaboration
		between Mimas and the British Library.
		</p>
	  <p>
	    <a href="http://names.mimas.ac.uk" class="btn btn-primary btn-large">
	      Learn more
	    </a>
	  </p>
	</div>

    
}
